.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 100vh;
}

.content {
  margin-top: 3rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

@media only screen and (max-width: 760px) {
  .content {
    width: 90vw;
  }
}

.content-loader {
  margin-top: 3rem;
  width: 30%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
}

.MuiAppBar-colorPrimary {
  background-color: transparent !important;
}

header {
  box-shadow: none !important;
}

.MuiButton-containedPrimary {
  background-color: #2274a5 !important;
}

.loader-container {
  width: 60vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .content-loader {
    width: 80vw;
  }
}

.loader {
  width: 50% !important;
  height: 50vh;
}

.conversion-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.video-preview {
  margin: 1rem;
  margin-top: 0;
  width: 300px;
}

.heading {
  margin: 0;
  text-align: center;
}

.sub-heading {
  margin: 1rem;
  text-align: center;
}

.error-message {
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.converted-gif-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.success-text {
  text-align: center;
}

.app-button {
  width: 300px;
  margin-bottom: 1rem !important;
  margin-left: 0 !important;
}

.converted-gif {
  width: 100%;
}
